.post 
{
	float:left;
	width:590px;
	overflow:hidden; 
	background:white;
	padding:10px;margin:0 10px 10px 0;
	-webkit-box-shadow: 0px 0px 2px 2px rgba(0,0,0,0.1);

	}

.post p{
  font-size: 15px;
  text-indent: 2em;
}
	
.meta-post
{
	float:left;
	overflow:hidden; 
	background:white;
	width:240px;
	padding:10px;margin:0 10px 10px 0; 
	-webkit-box-shadow: 0px 0px 2px 2px rgba(0,0,0,0.1);
  padding:5px;
  font-size: 13px;
}

.meta-post p{
  margin:0;
}

.meta-post ul{
  list-style: none;
}

.meta-post h3{
  margin: 0 0 5px 5px;
}

.columna {
  width:620px;
  float:left;
  margin-left:20px;
}

.fb-like
{
  float:right;
  margin:5px;
}

table{
  border-spacing: 0px;
  font-size: 13px;
  text-align:center;
}

table td{
  border: 1px solid #666;
  padding:2px;
  border-spacing:0px;
}

.post .tabla{
  text-align: center;
  color: #333;
  margin-left:45px;
}