<div class="contenido">
<div class="columna">
  <div class="post">
    <h2><%= link_to 'Central de apuntes', 'http://apuntes.cai.cl' %></h2>
    <p>Central de apuntes con todo el material subido por los alumnos para preparar puebas y exámenes.</p>
  </div>
  <div class="post">
    <h2><%= link_to 'Buscador de salas', 'http://www.cai.cl/home/images/buscador.swf' %></h2>
    <p>Mapa con los lugares del campus San Joaquín marcados en Google Maps por alumnos de ingeniería. Se espera renovar el servicio durante este semestre.</p>
  </div>
  <div class="post">
    <h2><%= link_to 'Ligas (pronto)', 'http://ligas.cai.cl' %></h2>
    <p>Pronto estará disponible un sitio que reagrupará todos los resultados, fechas, noticias y fotos del deporte en San Joaquín.</p>
  </div>
</div>
</div>