<div id = "sub_menu_header">
	<%= render 'layouts/menu/secciones_inicio'%>
</div>
</div>
<div class="divisor"></div>
</div>
<div class="borde_izquierda"></div>
<div class = "izquierda">	
<%= render 'layouts/error_flash'%>
<h2>Destacado</h2>
<p>Noticia</p>
</div>


