<ul>
	<li><%= link_to "Contacto", '/contacto' %></li>
	<li><%= link_to "CAi", '/equipo' %></li>
	<li><%= link_to "Participa", 'https://docs.google.com/a/uc.cl/spreadsheet/viewform?hl=es&formkey=dDhjUkVxX3E2YVdVNmc0T2dudnhnb0E6MQ#gid=0' %></li>
</ul>