<div class="meta-post">
  <div class="titulo">
    <h3>Links de interés</h3>
  </div>
  <ul>
    <li><%= link_to 'Estatutos', 'pages/estatutos' %></li>
    <li><%= link_to 'Historia', 'pages/estatutos' %></li>
    <li><%= link_to 'Coordinadores generales', 'pages/estatutos' %></li>
    <li><%= link_to 'Reglamento TRICEL', 'pages/estatutos' %></li>
  </ul>
</div>