<div class="contenido">
  <div class="columna">
    <div class="post">
      <h2>Contacto</h2>
      <p>Si necesitas ponerte en contacto con la directiva del Centro de Alumnos de Ingeniería UC, aquí podrás encontrar los datos donde podrán contactarlos.</p>
      <div class="tabla">
        <table>
          <tr>
            <td>Nombre</td>
            <td>Cargo</td>
            <td>Mail</td>
          </tr>
          <tr>
            <td>Eduardo Toro</td>
            <td>Presidente</td>
            <td>eduardo@caiuc.cl</td>
          </tr>
          <tr>
            <td>Markus Niehaus</td>
            <td>Vicepresidente Externo</td>
            <td> markus@caiuc.cl</td>
          </tr>
          <tr>
            <td>Josefa Lucas</td>
            <td>Vicepresidenta Interna</td>
            <td> Josefa@caiuc.cl</td>
          </tr>
          <tr>
            <td>Carla Germani</td>
            <td>Secretaria General</td>
            <td> carla@caiuc.cl</td>
          </tr>
          <tr>
            <td>Nicolás Olivares</td>
            <td>Tesorero</td>
            <td> nolivares@caiuc.cl</td>
          </tr>
          <tr>
            <td>Omar Seguel</td>
            <td>Coordinador de Áreas</td>
            <td>omarseguel@caiuc.cl</td>
          </tr>
          <tr>
            <td>Jorge Geldres</td>
            <td>Jefe de Proyectos</td>
            <td>jgeldres@caiuc.cl</td>
          </tr>
          <tr>
            <td>Laurencia Grob</td>
            <td> Jefa de Comunicaciones</td>
            <td> laurencia@caiuc.cl</td>
          </tr>
          <tr>
            <td>Antonia Bezanilla</td>
            <td> Jefa de Auspicios</td>
            <td> abezanilla@caiuc.cl</td>
          </tr>
          <tr>
            <td>Domingo García-Huidobro</td>
            <td> Jefe de Docencia e Investigación</td>
            <td>domingo@caiuc.cl</td>
          </tr>
          <tr>
            <td>Alejandra Cuevas</td>
            <td> Consejera Académica</td>
            <td>alejandra@caiuc.cl</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <%= render 'pages/links_cai' %>
</div>