<div class="contenido">
  <div class="columna">
    <div class="post">

      <%= image_tag('estatico/equipo.jpg') %>

      <p>A toda la comunidad de Ingeniería UC

      <p>Desde el día 18 de Noviembre hay una nueva directiva del Centro de Alumnos. Les adjuntamos una foto para que nos conozcan y cuenten con nosotros para lo que necesiten. Se nos viene un 2012 lleno de desafíos y son siempre bienvenidos a trabajar junto a nosotros para lograr la Escuela que todos deseamos. Además, le damos las gracias y le deseamos la mejor de las suertes a la directiva saliente, que trabajó duro y constantemente por la comunidad.

      <p>Saludos,

      <p>Consejera Académica y Directiva CAi 2012



      <p> <b>En la foto:</b>                    <br/> <br/>

     <b> Fila Superior (de izquierda a derecha):</b> <br/>  <br/>Josefa Lucas, Jorge Geldres, Alejandra Cuevas, Nicolás Olivares.     <br/>  <br/>

        <b> Segunda Fila (de izquierda a derecha): </b><br/>  <br/>Antonia Bezanilla, Eduardo Toro, Laurencia Grob, Domingo García-Huidobro
                                                                                                                        <br/>     <br/>
          <b>Fila Inferior (de izquierda a derecha):</b> <br/> <br/> Markus Niehaus, Carla Germani, Omar Seguel        <br/>
      </p>

    </div>
  </div>
  <%= render 'pages/links_cai' %>

</div>