<div class="contenido">
     <div class="noticias">

  <% @albums.each do |a| %>
      <% foto = a.fotos.first %>
  <div class="viewport">
    <a href="#">
      <span class="dark-background"><%= a.name %><em>Fotógrafo: <%= a.autor %></em></span>

         <%= image_tag(foto.avatar.url(:viewport)) %>
     </a>
  </div>

  <% end %>


     </div>
</div>

<script type="text/javascript">
    $(document).ready(function() {
        $('.viewport').mouseenter(function(e) {
            $(this).children('a').children('img').animate({ height: '161', left: '0', top: '0', width: '430'}, 100);
            $(this).children('a').children('span').fadeIn(200);
        }).mouseleave(function(e) {
                    $(this).children('a').children('img').animate({ height: '181', left: '-25', top: '-10', width: '483'}, 100);
                    $(this).children('a').children('span').fadeOut(200);
                });
    });
</script>