
<div class = "contenido">
	<div class = "izquierda">	
		<table>
			<% @posts.each do |post| %>
				<tr>
					<td><%= post.titulo %></td>
					<td><%= post.seccion.name unless post.seccion.nil? %> </td>
					<td><%= link_to 'Ver noticia', post%>
				</tr>
			<% end %>
		</table>
	</div>

</div>

