<div id = "favoritos">
  <% img = image_tag('/assets/favoritos/UC.png') %>
  <%= link_to img, "http://www.uc.cl" %>
  <% img = image_tag('/assets/favoritos/capuntes.png') %>
  <%= link_to img, "http://apuntes.cai.cl" %>
  <% img = image_tag('/assets/favoritos/siding.png') %>
  <%= link_to img, "http://www.ing.puc.cl" %>
</div>