.header {height:240px; background:url('/assets/header_bg.png'); margin:0;}

.header .logo{
  padding: 10px 0 0 30px;
  display:block;
  line-height: 1;
}

.header .logo .imagen{
  float:left;
  margin-right: 10px;
}

.header .logo .slogan{
  float:left;
  padding-top: 18px;
  margin: 0;
}

.header .logo .slogan h3{
  margin:0;
  color:#222;
  font-size: 18px;
  text-shadow: 0px 1px 10px white;
  margin-bottom: 3px;
}

.header .logo .slogan h4{
  margin:0;
  color:#666;
  font-size:11px;
}

.acciones { height: 26px; background: #2d2d2d; border-bottom: 1px solid black; top: 0; font-size:12px; z-index:2;}
.acciones ol { position:absolute; text-align: center; right: 0; margin:0;}
.acciones ol li { position: relative; display: -moz-inline-box; display: inline-block; line-height: 27px; padding: 0; vertical-align: top; }
.acciones ol li a { display: block; padding: 0 1em 0 1em; color: #efefef; border-left: 1px solid #6f6f6f; margin-right: -4px;}
.acciones ol li a:hover { color: white; text-decoration: none; background: #6f6f6f; }


.boton_entrar
{
	color:white;
	border-top: 1px #cc9c28 solid;
	border-right: 1px #b98b1d solid;
	border-bottom: 1px #a97d12 solid;
	border-left: 1px #b98b1d solid;
	background: -webkit-gradient(linear, left top, left bottom, from(#f7d864), to(#f7d34c));
	text-shadow: #936f3c 0 1px 2px;
	-webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.3),inset 0px 1px 0px #ffdb8b;
	border-radius: 3px;
	text-align:center;
	font-weight:bold;
	cursor:pointer;
	font-size:13px;
  float:right;
}

a.selected {


  z-index:100;
}

.sesion a{

}

.messagepop {
  background-color:#FFFFFF;
  border:1px solid #999999;
  cursor:default;
  display:none;
  margin-top: 15px;
position:absolute;
  text-align:left;
  width:160px;
  z-index:50;
  padding: 25px 25px 20px;
  border-radius: 5px;
  right:90px;
  top: 25px;
  border: 1px solid #ffdc81;
  -webkit-box-shadow: 0px 0px 5px rgba(0,0,0,0.2),inset 0 0 0 #000;

}

.messagepop a:hover{
  text-decoration:none;
}

label {
  display: block;
  margin-bottom: 3px;
  padding-left: 15px;
  text-indent: -15px;
}

.messagepop p, .messagepop.div {
  border-bottom: 1px solid #EFEFEF;
  margin: 8px 0;
  padding-bottom: 8px;
  float:right;
}

#contact{
  float:right;
  display:block;
  background: #f5d14b;
  padding:8px;
  border-radius: 5px;
  color: white;
  font-weight:bolder;
  box-shadow: 0px 1px 10px #333;
  text-shadow: 0px 0px 2px #B49A37;

}

#contact a{
  text-decoration:none;

}

#contact{
  position: absolute;
  right:110px;
  top:-5px;
  font-size:13px;
}

#contact:hover{
             text-decoration:none;
}

#recordar{
  font-size:11px;
}

.banner{
  position:absolute;
  top:5px;
  left:500px;
}

.signup{
  text-align: center;
  margin: 20px 0 0 -25px;
  width: 210px;
  background: #f7edac;
  height: 25px;
  padding-top: 3px;

}

.signup a{
  color: #c18836;
}