/*Menus del cuerpo*/

.menu {height:70px;
  height: 65px;
  margin-bottom: 15px;
}

.menu ul{
  list-style-type: none;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  line-height: 1;
}

.menu ul li{
  diaply:block;
  float:left;
}

.menu ul li a{
  padding: 0 1em 0 1em ;
}

#actual {float:left; height:70px; padding-top:0px; width:220px; text-align:center;
  background: -webkit-gradient(linear, left top, left bottom, from(#DB8B00), to(#CB8100));
  text-shadow: 0px 1px 6px #935D00;
  margin-left: 80px;
  box-shadow: 0px 0px 4px #935d00;
}
#actual span {font-size:50px; color:white;}


#submenu_header {  height:25px;   font-size:11px; background: -webkit-gradient(linear, left top, left bottom, from(#E97F30), to(#ED8131))};
#submenu_header ul {
  padding-left:120px;
  padding-top: 7px;
}
#submenu_header ul li a { color: white; text-shadow: 0px 0px 1px #C98925;}


#menu_header {
  margin:0;
  height:40px;
  font-size: 16px;
  background: -webkit-gradient(linear, left top, left bottom, from(#F7D34C), to(#EBC848));
}
#menu_header ul {  padding-left: 70px; }
#menu_header li { padding-top: 12px; height:30px;   }
#menu_header ul li a {
  color: #844E00;
  text-shadow: 0px 1px 0px #FFE279;
  border-right: 1px solid #E1C045;
}

#menu_header ul li.actual {
  color: white;
  text-shadow: none;
  border-right: none;
  background: -webkit-gradient(linear, left top, left bottom, from(#ED8131), to(#E97F30));
}

#menu_header ul li.actual a{
  color:white;
  text-shadow:none;
  border:none;
}

#menu_header ul li a:hover {text-decoration: underline}
.divisor {background:#fff363; height:4px; width:260px; position:relative; left:-380px; top:90px; overflow:hidden; margin-top:10px; margin-left:80px;}

#menu_header #fb{
  margin:-5px -20px 0 0px;
  border-right:none;
  float:right;
}

#menu_header #tt img{
  height:30px;
}

#menu_header #fb img{
  height:30px;
}

#menu_header #fb a{
  border-right:none;

}

#menu_header #tt{
  margin:-6px 0 0 0;
  float:right;
  border-right:none;
}

#menu_header #tt a{
  border-right:none;

}